.translucent {
    color: #d3d7cf;
}

.center {
    text-align: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.my-list {
    margin-left: 5%;
    margin-right: 5%;
}

h4 {
    color: red;
    margin-left: 20px;
}

.standard-cell {
    background: #edeefe;
}

.standard-head {
    background: #dcdcdc;
}

.top-caption {
    caption-side: top;
}

.action {
    padding: 10px;
}